:root {
    --crema-rosado: #F7DAD9;
    --beige-medio:#fff9f4;
    --beige-frio:#DAD0C2;
    --dulce-de-leche:#CDBBA7;
    --gris-claro:#eff1f5;
    --black:#000000;
    --white:#ffffff;
    --font-min:12px;
    --font-mid:15px;
    --font-max:24px;

}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Catamaran', sans-serif;
    font-family: 'EB Garamond', serif;
    
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}
.login-contenedor {
    width: 320px;
    padding: 15px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--beige-medio);
    border-radius: 18px;

}
.logo {
    display: block;
    width: 95px;
    margin:20px auto;
    }

.form {
    height: 200px;
    display: flex;
    flex-direction: column;
    
}
label {
    font-size: var(--font-mid);
    font-weight: 300;
    padding-left: 5px;
}
.input {
    height: 32px;
    border: none;
    border-radius: 10px;
    padding-left: 8px;
    background-color: var(--gris-claro);
    margin-bottom: 10px;
    outline: none;

}

.primary-button{
    height: 45px;
    background-color: var(--crema-rosado);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
}
.login-contenedor a {
    text-decoration: none;
    font-size: var(--font-mid);
    color: var(--dulce-de-leche);
    margin-bottom: 30px;
    text-align: center;
}
.secundary-button {
    height: 45px;
    border: 1px solid;
    border-color: var(--crema-rosado);
    border-radius: 8px;
    color: var(--crema-rosado);
    font-weight: bold;
    font-size: var(--font-mid);
}
@media (max-width: 640px){
    .login-contenedor {
        height:70%;
        display: flex;
        justify-content: space-between;        

    }

}