:root {
    --crema-rosado: #F7DAD9;
    --beige-medio:#fff9f4;
    --beige-frio:#DAD0C2;
    --dulce-de-leche:#CDBBA7;
    --gris-claro:#eff1f5;
    --black:#000000;
    --white:#ffffff;
    --font-min:12px;
    --font-mid:15px;
    --font-max:24px;

}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Catamaran', sans-serif;
    font-family: 'EB Garamond', serif;
    
}
.order_container {
    width: 35%;
    min-width: 320px;
    min-height: 500px;
    padding: 20px 0;
    margin: 0 auto;
}
.order_container h1 {
    font-size: var(--font-mid);
    padding-bottom: 50px;


}
.order_container-art {
    height: 60px;
    display:grid;
    grid-template-columns: 100px 1fr 10px;
    
}

.order_container-art p:nth-child(1) {
    flex-direction: column;
    display: flex;
   justify-content: center;
}
.order_container-art p:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: end;
    padding-right: 10px;
}

.order_container-art p span:nth-child(1){
    font-weight: bold;
}

.order_container-art figure {
    display: grid;
    align-items: center;
}
.order_container-art figure img {
    width: 8px;
  
}

